In [2]:
import pandas as pd
import numpy as np
import scipy

In [3]:
studentData = {
    'Name': ['Adam', 'Anna', 'James', 'Corey', 'Alisha', 'Jodie', 'John'],
    'Math': [11, 12, 11, 7, 9.5, 15, 18],
    'Science': [9, 11, 18, 15.5, 12, 18.5, 15.5],
    'Reading': [16, 8.5, 11.5, 11, 10.5, 7, 11],
    'History': [13.5, 10, 9, 14, 14, 12, 7.5]

}

df=pd.DataFrame(studentData)
display(df)

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

In [13]:
df['Math'].mean()

11.928571428571429

In [14]:
df['Science'].mean()

14.214285714285714

In [15]:
df['Reading'].mean()

10.785714285714286

In [16]:
df['History'].mean()

11.428571428571429

In [17]:
df['Math'].median()

11.0

In [18]:
df['History'].mode()

0    14.0
Name: History, dtype: float64

In [7]:
corrdf=df.corr(numeric_only = True)
print(corrdf)

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

In [8]:
sorcorrdf=corrdf.unstack().sort_values(ascending=False)
print(sorcorrdf[sorcorrdf<1].head(2))

Math     Science    0.269494
Science  Math       0.269494
dtype: float64

In [19]:
def desc_stats(num):
    numSeries=pd.Series(num)   
    minVal=numSeries.min()
    maxVal=numSeries.max()
    menVal=numSeries.mean()
    medVal=numSeries.median()
    modVal=numSeries.mode()
    ranVal=maxVal-minVal
    varVal=numSeries.var()
    stdVal=numSeries.std()
    print('mean:',menVal)
    print('median:',medVal)
    print('mode:',modVal)
    print('minimum:',minVal)
    print('maximum: ',maxVal)
    print('range: ',ranVal)
    print('variance: ',varVal)
    print('standard deviation: ', stdVal)
    
stuData=[24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]
desc_stats(stuData)

mean: 59.47826086956522
median: 60.0
mode: 0    60
dtype: int64
minimum: 5
maximum:  99
range:  94
variance:  694.3517786561266
standard deviation:  26.350555566365703